.left {
     height: 100%; 
     width: 100%; 
     overflow: hidden;
     padding: 10px;
     border: red 1px solid;
   }

   @media (max-width: 700px) {
     .left {
       height: 80vh; /* Adjust as needed */
     }
   }


   